
:root{
    --main-blue: #10122C;
    --main-beige: #FCBF88;
    --grey: grey;
    --bright-green: #86EF45;
}

body{
    color: white;
    background-color: var(--main-blue);
}

.flex-main {
    display: flex;
    flex: 1;
    min-height: 100%;
}

button{
    background: none;
	border: none;
}

/* ------------------------------- Banner CSS ------------------------------- */

.flex-banner {
    background-color: var(--main-beige);
    color: black;
}

/* ------------------------------- Header CSS ------------------------------- */

.search-icon:hover{
    background-color: var(--grey);
}

.profile-icon:hover{
    background-color: var(--grey);
}

.cart-icon:hover{
    background-color: var(--grey);
}

/* -------------------------------- Menu CSS -------------------------------- */

.menu-items {
    background: var(--main-beige);
    box-shadow: 5px 0px 10px 0px var(--main-beige);
}

.menu-header{
    color: var(--main-blue);
}

.menu-items a {
    transition: color 0.3s ease-in-out;
    color: var(--main-blue);
}

.menu-items a:hover {
    color: var(--grey);
    transition: color 0.3s ease-in-out;
}

.hamburger .line {
    background: var(--main-beige);
}

/* -------------------------------- Main CSS -------------------------------- */

.flex-article input[type=text] {
    background-color: var(--main-beige);
    box-shadow: 0px 0px 5px 0px inset;
}
  
.search-container button {
    background: var(--main-beige);
    box-shadow: 0px 0px 3px 0px inset;
}
  
.flex-article .search-container button:hover {
    background: var(--grey);
}

/* ---------------------------- Menu Pop-out CSS ---------------------------- */

.flex-nav {
    /* background-color: #020420; */
}

/* ----------------------------- Search Box CSS ----------------------------- */



/* ---------------------------- Cart Pop-out CSS ---------------------------- */

.cart-content {
    color: black;
    box-shadow: 0px 2px 5px 0px var(--main-blue) inset;
    background-color: var(--main-beige);
}

.price{
    color: var(--bright-green)
}

/* -------------------------- Profile Pop-out CSS --------------------------- */



/* ------------------------------- Footer CSS ------------------------------- */

.flex-footer {
    background-color: var(--main-beige);
    color: black;
}   

.flex-footer input[type=text] {
    background-color: white;
    box-shadow: 0px 2px 5px 0px var(--main-beige) inset;
}
  
.email-enter button {
    background: var(--main-beige);
    border-color: var(--main-blue);
    box-shadow: 0px 0px 3px 0px inset;
}

/* ----------------------------- Search Page CSS ----------------------------- */

.results-num{
    color: var(--main-beige);
}

.filters-info{
    color: black;
    background-color: var(--main-beige);
}

.sortby-info{
    color: black;
    background-color: var(--main-beige);
}

.product{
    background-color: rgb(132, 104, 104, 0.4);
}

.pages{
    color: var(--main-beige);
}
.pages-num{
    color: var(--main-beige);
}

/* ----------------------------- Product Page CSS ----------------------------- */

.product-content{
    background-color: rgb(132, 104, 104, 0.4);
}

.product-price{
    color: var(--bright-green)
}

.drop-btn{
    background-color: var(--main-beige);
    color: black;
}

.drop-btn::before{
    background: var(--main-beige);
}

.drop-menu-sub{
    background-color: rgb(252, 191, 136, 0.75);
}

.drop-menu-sub a{
    color: black;
}

/* --------------------------- Checkout Page CSS --------------------------- */

.create-account{
    color: var(--bright-green);
}

.close-tab{
    color: red;
}

.checkout-return{
    color: red;
}

/* --------------------------- Confirmation CSS --------------------------- */

.confirmation-info{
    color: var(--main-beige);
}

.confirmation-return{
    color: var(--bright-green);
}