/* html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
} */

* {
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center; 
    min-height: 100vh;
}

.flex-main {
    display: flex;
}

.flex-nav {
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-aside {
    padding-top: 3rem;
    flex: 1 1 5rem;
}

/* ------------------------------- Banner CSS ------------------------------- */

.flex-banner {
    padding-top: 3px;
    padding-bottom: 3px;
}

.lang{
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px 10px 3px 3px;
}

/* ------------------------------- Header CSS ------------------------------- */

.flex-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    height: 100px;
}

.left-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: left;
}

.small-logo{
    display: none;
}

.logo-icon{
    position: absolute;
    justify-self: center;
}

.right-header{
    display: flex;
    justify-self: right;
    position: absolute;
}

.search-icon{
    width: 50px;
    padding-top: 5px;
    padding-bottom: -5px;
    position: absolute;
    top: 60px;
    left: 90px;
}
.search-icon:hover{
    border-radius: 0.5rem;
}

.profile-icon{
    width: 50px;
    padding-top: 5px;
    position: absolute;
    right: 5px;
    top: -15px;
}
.profile-icon:hover{
    border-radius: 0.5rem;
}

.right-header button{
	padding: 0;
	cursor: pointer;
}
.cart-icon{
    width: 50px;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: absolute;
    right: 50px;
    top: -15px;
}
.cart-icon:hover{
    border-radius: 0.5rem;
}

/* ---------------------------- Menu Pop-out CSS ---------------------------- */
/* Code for menu icon animation and pop-out menu adapted from; https://alvarotrigo.com/blog/hamburger-menu-css/ */

.menu-icon input[type="checkbox"],
.hamburger {
  display: block;
}

.hamburger {
    display: block;
    height: 35px;
    width: 45px;
    position: absolute;
    top: 65px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: -20px;
    padding: 130px 50px 0px 50px;
    height: 68%;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
    border-radius: 0.5rem;
}

.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 10px;
}

.menu-items{
    position: absolute;
    top: 50px;
    z-index: 3;
    height: 392px;
}

.menu-items li {
    list-style: none;
    margin: 0 0.5rem 1.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-items a {
    text-decoration: none;
}

.menu-icon input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 40px;
    width: 50px;
    top: 65px;
    left: 20px;
    z-index: 1;
    opacity: 0;
}

.hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.hamburger .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.menu-icon input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.menu-icon input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(45deg);
}

.menu-icon input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
}

.menu-icon input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-45deg);
}

/* -------------------------------- Main CSS -------------------------------- */

.flex-article{
    flex: 3 3;
    overflow: hidden;
}

.mobile-genres-tile{
    display: none;
}

.search-container {
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.flex-article input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    height: 30px;
    min-width: 85%;
}
  
.search-container button {
    padding: 6px;
    border: none;
    cursor: pointer;
    height: 42px;
}

.tiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.reviews{
    display: grid;
    grid-template-columns: 165px 165px 165px 165px auto;
    margin-left: 10px;
    align-items: center;
}

@media all and (max-width: 1000px) {
    .tiles{
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .reviews{
        grid-template-columns: 1fr 1fr;
        align-self: center;
        vertical-align: center;
    }
}

/* ---------------------------- Cart Pop-out CSS ---------------------------- */

.cart-content {
    position: absolute;
    top: 55px;
    right: 4px;
    width: 275px;
    border-radius: 5px;
    z-index:5;
    padding-bottom: 10px;
}

.cart-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
}

.cart-prices{
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}

.cart-btns{
    display: flex;
    flex-direction: row;
}

/* ------------------------------- Footer CSS ------------------------------- */

.flex-footer {
    padding-top: 25px;
    padding-bottom: 15px;
    height: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3rem;
    padding-right: 3rem;
}   

.email-enter {
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.flex-footer input[type=text] {
    padding: 6px;
    border: none;
    height: 30px;
    min-width: 85%;
}
  
.email-enter button {
    padding: 6px;
    cursor: pointer;
    height: 42px;
}

.footer-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.footer-links{
    justify-self: center;
    padding-right: 1.5rem;
}

.socials{
    justify-self: center;
}


/* ----------------------------- Mobile CSS ----------------------------- */

@media all and (max-width: 540px) {

    .flex-nav, .flex-aside, .logo-icon, .genres-tile{
        display: none;
    }

    .small-logo{
        display: block;
        justify-self: center;
        padding-bottom: 20px;
    }

    .search-icon{
        left: 70px;
    }

    .profile-icon{
        top: -23px;
        right: 0;
    }

    .cart-icon{
        margin-right: 5px;
        top: -23px;
        right: 45px;
    }

    .mobile-genres-tile{
        display: block;
    }

    .contact-tile, .shipping-tile{
        display: none;
    }

    .search-container{
        margin-left: 25px;
        margin-right: 25px;
    }

    .tiles{
        grid-template-columns: 1fr 1fr;
    }

    .left-tiles{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-self: right;
    }

    .middle-tile{
        justify-self: left;
        margin-left: 10px;
    }

    .review3, .review4{
        display: none;
    }

    .review1, .review2{
        padding-right: 10px;
    }

    .reviews{
        display: flex;
        justify-content: center;
        position: relative;
        margin-left: 20px;
        margin-top: -1080px;
    }

    .flex-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .email-enter{
        margin-top: 10px;
    }
    
}

/* ----------------------------- Search Page CSS ----------------------------- */

.results-num{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.results-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
}

.results-header-right{
    display: grid;
    grid-template-columns: 100px 100px;

}

.filter-popouts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters-info{
    width: 100px;
    border-radius: 5px;
    z-index: 10;
    margin-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 0.5rem;
}
.close-filters{
    margin-left: 80px;
}

.sortby-info{
    width: 110px;
    border-radius: 5px;
    z-index: 10;
    margin-right: 6rem;
    padding-bottom: 5px;
    margin-bottom: 0.5rem;
}
.close-sortby{
    margin-left: 90px;
}

.products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.product-btns{
    display: grid;
    grid-template-columns: 45px 45px 45px;
    padding-left: 1.5rem;
}

.quick-buy{
    padding-left: 0.75rem ;
}

.pages{
    margin-top: 1rem;
}
.pages-num{
    margin-bottom: 1rem;
}


@media all and (max-width: 540px) {

    .products{
        flex-direction: row;
    }

    .product{
        margin-left: 1.5rem;
        width: 130px;
        padding: none;
    }

    .cover{
        padding-left: 0.8rem;
    }

    .price{
        padding-left: 2.5rem;
    }

    .product-btns{
        padding-left: 0rem;
        padding-top: 1rem;
    }
}

/* ----------------------------- Product Page CSS ----------------------------- */

.product-info{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.product-content{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 160px;
}

.product-actions{
    display: flex;
    flex-direction: column;
}

.product-prices{
    display: flex;
    flex-direction: column;
}

.product-title{
    margin-left: 1rem;
}

.product-price{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.postcode{
    display: grid;
    grid-template-columns: 100px 40px;
    width: 140px;
    align-items: center;
}

.desktop-product-btns{
    display: grid;
    grid-template-columns: 45px 45px 45px;
    padding-left: 1.5rem;
}

.mobile-product-btns{
    display: none;
}

@media all and (max-width: 540px) {

    .desktop-product-btns{
        display: none;
    }

    .mobile-product-btns{
        display: grid;
        grid-template-columns: 45px 45px 45px;
        justify-content: center;
        margin-right: 1.5rem;
    }

    .product-content{
        flex-direction: column;
        height: 200px;
        overflow: hidden;
        align-items: center;
    }

    .product-title{
        margin-left: 5rem;
        margin-bottom: -3rem;
    }

    .product-prices{
        margin-left: 1.5rem;
    }
}

.drop-downs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}

.drop-menu{
    width: 20rem;
    border-radius: 0.2rem;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.drop-menu-item{
    list-style: none;
    overflow: hidden;
}

.drop-btn{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.2rem;
    position: relative;
}

.drop-btn::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 1.5rem;
    bottom: -0.5rem;
    transform: rotate(45deg);
}

.drop-menu-sub{
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.drop-menu-sub a{
    display: block;
    padding: 0.75rem 1.5rem;
    position: relative;
}

.drop-menu-item:target .drop-menu-sub{
    max-height: 25rem;
}

/* --------------------------- Checkout Page CSS --------------------------- */

.cart-sum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
}   

.cart-sum-items{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.checkout-inputs{
    margin-top: 1.5rem;
}

.login-btn{
    margin-top: 1rem;
}

.confirmation-btn{
    margin-top: 2rem;
}

.checkout-return{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* --------------------------- Confirmation CSS --------------------------- */

.confirm-items{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.confirmation-header{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.confirmation-return{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}