
body{
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

/* ------------------------------- Banner CSS ------------------------------- */

.flex-banner {
    font-size: 13px;
}

.lang{
    text-decoration: underline;
    font-weight: bold;
}

/* ------------------------------- Header CSS ------------------------------- */



/* -------------------------------- Menu CSS -------------------------------- */

.menu-header{
    text-decoration: underline;
    font-weight: bold;
}

/* -------------------------------- Main CSS -------------------------------- */



/* ---------------------------- Menu Pop-out CSS ---------------------------- */



/* ----------------------------- Search Box CSS ----------------------------- */



/* ---------------------------- Cart Pop-out CSS ---------------------------- */



/* -------------------------- Profile Pop-out CSS --------------------------- */



/* ------------------------------- Footer CSS ------------------------------- */

.flex-footer {
    font-size: small;
}   

.footer-links{
    text-decoration: underline;
}

/* -------------------------------- Cart CSS -------------------------------- */

.cart-header p{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.75rem;
}

.close-cart{
    font-size: 1.75rem;
}

.cart-items{
    line-height: 2.2rem;
}

.cart-prices{
    font-style: italic;
    font-size: 20px;
    line-height: 2.2rem;
}

.total-price{
    font-style: normal;
    font-weight: bold;
}

.price{
    text-decoration: underline;
    font-weight: bold;
}

/* ----------------------------- Search Page CSS ----------------------------- */

.results-num{
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

.filters-info{
    font-size: 15px;
    line-height: 20px;
}

.sortby-info{
    font-size: 15px;
    line-height: 20px;
}

.pages{
    font-size: 17px;
    text-decoration: underline;
}
.pages-num{
    font-size: 17px;
    line-height: 40px;
}

/* ----------------------------- Product Page CSS ----------------------------- */

.product-price{
    text-decoration: underline;
    font-weight: bold;
}



